Repository Im-Rises/PhysicalEngine, pull requests merged in 2022-10, with the labels that each got.

#21 wip
  PhysicalEngine/PhysicalEngine.cpp
  PhysicalEngine/Scene/Scene.cpp
Labels: src

#26 Force
  ParticleEngine/Force/AnchoredSpring.cpp
  ParticleEngine/Force/AnchoredSpring.h
  ParticleEngine/Force/Buoyancy.cpp
  ParticleEngine/Force/Buoyancy.h
  ParticleEngine/Force/Drag.cpp
  ParticleEngine/Force/Drag.h
  ParticleEngine/Force/ForceGenerator.cpp
  ParticleEngine/Force/ForceGenerator.h
  ParticleEngine/Force/Gravity.cpp
  ParticleEngine/Force/Gravity.h
  ParticleEngine/Force/Spring.cpp
  ParticleEngine/Force/Spring.h
  ParticleEngine/Game.cpp
  ParticleEngine/Game.h
  ParticleEngine/InputManager.cpp
  ParticleEngine/ParticleEngineLauncher.cpp
  ParticleEngine/ParticleEngineLauncher.h
  ParticleEngine/Scene/Components/Component.cpp
  ParticleEngine/Scene/Components/Component.h
  ParticleEngine/Scene/Components/PhysicalComponent/Particle/Particle.cpp
  ParticleEngine/Scene/Components/PhysicalComponent/Particle/Particle.h
  ParticleEngine/Scene/Components/PhysicalComponent/PhysicalComponent.cpp
  ParticleEngine/Scene/Components/PhysicalComponent/PhysicalComponent.h
  ParticleEngine/Scene/Components/PhysicalComponent/Rigidbody/Rigidbody.cpp
  ParticleEngine/Scene/Components/PhysicalComponent/Rigidbody/Rigidbody.h
  ParticleEngine/Scene/GameObject.cpp
  ParticleEngine/Scene/GameObject.h
  ParticleEngine/Scene/PhysicHandler.cpp
  ParticleEngine/Scene/PhysicHandler.h
  ParticleEngine/Scene/Scene.cpp
  ParticleEngine/Scene/Scene.h
  ParticleEngine/Utility/imGuiUtility.cpp
  ParticleEngine/Utility/imGuiUtility.h
  ParticleEngine/Vector3d/Vector3d.cpp
  ParticleEngine/Vector3d/Vector3d.h
  README.md
  imgui.ini
Labels: repo, readme, src

#30 Collider2
  ParticleEngine/Contact/ContactGenerator/ParticuleContactGenerator.h
  ParticleEngine/Contact/ContactGenerator/ParticuleLink/ParticuleCable.cpp
  ParticleEngine/Contact/ContactGenerator/ParticuleLink/ParticuleCable.h
  ParticleEngine/Contact/ContactGenerator/ParticuleLink/ParticuleCollide.cpp
  ParticleEngine/Contact/ContactGenerator/ParticuleLink/ParticuleCollide.h
  ParticleEngine/Contact/ContactGenerator/ParticuleLink/ParticuleLink.cpp
  ParticleEngine/Contact/ContactGenerator/ParticuleLink/ParticuleLink.h
  ParticleEngine/Contact/ContactGenerator/ParticuleLink/ParticuleRode.cpp
  ParticleEngine/Contact/ContactGenerator/ParticuleLink/ParticuleRode.h
  ParticleEngine/Contact/ParticuleCollider/ParticuleCollider.cpp
  ParticleEngine/Contact/ParticuleCollider/ParticuleCollider.h
  ParticleEngine/Contact/ParticuleContact.cpp
  ParticleEngine/Contact/ParticuleContact.h
  ParticleEngine/Contact/ParticuleContactResolver.cpp
  ParticleEngine/Contact/ParticuleContactResolver.h
  ParticleEngine/Contact/ParticulesContactGeneratorRegistry.cpp
  ParticleEngine/Contact/ParticulesContactGeneratorRegistry.h
  ParticleEngine/GameTest.cpp
  ParticleEngine/GameTest.h
  ParticleEngine/Utility/Vector3d.cpp
  ParticleEngine/Utility/Vector3d.h
Labels: src

#33 Develop
  ParticleEngine/Contact/ContactGenerator/ParticleCollide.cpp
  ParticleEngine/Contact/ContactGenerator/ParticleCollide.h
  ParticleEngine/Contact/ParticleContact.cpp
  ParticleEngine/Contact/ParticleContact.h
  ParticleEngine/Contact/ParticleContactResolver.h
  ParticleEngine/Contact/ParticlesContactGeneratorRegistry.cpp
  ParticleEngine/Contact/ParticlesContactGeneratorRegistry.h
  ParticleEngine/Force/AnchoredSpring.cpp
  ParticleEngine/Force/AnchoredSpring.h
  ParticleEngine/Force/ForceGenerator.cpp
  ParticleEngine/Force/ForceGenerator.h
  ParticleEngine/Game.cpp
  ParticleEngine/Game.h
  ParticleEngine/ParticleEngineLauncher.h
  ParticleEngine/Scene/Camera.cpp
  ParticleEngine/Scene/Components/PhysicalComponent/Particle/Particle.cpp
  ParticleEngine/Scene/Components/PhysicalComponent/Particle/Particle.h
  ParticleEngine/Scene/Components/PhysicalComponent/PhysicalComponent.h
  ParticleEngine/Scene/GameObject.h
  ParticleEngine/Scene/Prefabs/ParticlePrefab.cpp
  ParticleEngine/Scene/Scene.cpp
  ParticleEngine/Scene/Scene.h
  ParticleEngine/Utility/Vector3d.cpp
  README.md
  imgui.ini
  report/development_log_phase1_REBOUL_CLAVEL_MOREL.pdf
  report/development_log_phase2_REBOUL_CLAVEL_MOREL.pdf
Labels: repo, readme, src

#34 Camera
  ParticleEngine/InputManager.cpp
  ParticleEngine/Scene/Camera.cpp
  ParticleEngine/Scene/Camera.h
  ParticleEngine/Scene/GameObject.cpp
  ParticleEngine/Scene/Scene.cpp
  ParticleEngine/Scene/Scene.h
  ParticleEngine/Utility/Vector3d.cpp
  imgui.ini
Labels: repo, src
